.container-fieldscreen {
    display: flex;
    flex-direction: column;
}
.profession {
    display: flex;
    width: 50%;
    height: 45vh;
    border-radius: 10px;
    overflow: hidden;
    background-color: #776B5D;
    margin: auto;
    margin-top: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 10px;
    justify-content: center;
}

.description h2 {
    display: flex;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif; 
    font-size: 30px;
    font-weight: 800;
}

.description p {
    display: flex;
    font-family: 'Inter', sans-serif; 
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
}

.image {
    display: flex;
    width: 50%;
    height: 100%;
}

.image img {
    display: flex;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
    object-position: 0 center;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}