.main {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.main img {
    display: flex;
    height: 500px;
    width: 65%;
    object-fit: cover;
    margin-top: 40px;
}

.overlay {
    display: flex;
    position: absolute;
    top: 188px;
    left: 300px;
    width: 440px;
    padding: 10px;
    height: 50%;
    background-color: rgba(245, 245, 245, 0.767); 
    align-content: center;
    flex-wrap: wrap;
}

.overlay h2 {
    font-family: 'Inter', sans-serif; 
    font-size: 30px;
    font-weight: 800;
}

.overlay p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
}